<div ng-controller="loginController" class="content">

    <nav class="navbar navbar-default ">
        <div class=" container ">
            <div class="navbar-header nav-title ">
                <h4>Eventos ABC</h4>
            </div>
            <div class="main-nav" ng-if="!isUser">
                <ul>
                    <li><a href="#login"><i class="fa fa-shield"></i> Ingresar</a></li>
                    <li><a href="#register"><i class="fa fa-comment"></i> Registro</a></li>
                    <!-- <li><a href="#event"><i class="fa fa-comment"></i> Crear Evento</a></li>
                                    <li><a href="#eventList"><i class="fa fa-comment"></i> Listar Eventos</a></li> -->
                </ul>
            </div>
            <div class="main-nav" ng-if="isUser">
                <ul>
                    <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#eventList"><i class="fa fa-shield"></i>Lista Eventos</a></li>
                    <li><a href="#event"><i class="fa fa-shield"></i>Crear Evento</a></li>
                    <li><a href="#login" ng-click="logout()"><i class="fa fa-comment"></i> Salir</a></li>
                    <!-- <li><a href="#event"><i class="fa fa-comment"></i> Crear Evento</a></li>
                                        <li><a href="#eventList"><i class="fa fa-comment"></i> Listar Eventos</a></li> -->
                </ul>
            </div>

        </div>
    </nav>


    <div class="col-lg-5">
        <h1 class="h1-strong">{{title}}</h1>
        <!-- <div class="alert alert-success" *ngIf="status=='success'">
                Te has identificado correctamente, bienvenido !!
            </div>
            <div class="alert alert-danger" *ngIf="status=='fail'">
                No te has identificado correctamente !!
            </div> -->
        <div class="alert alert-danger" ng-if="status=='fail'">
            Usuario o cantraseña invalidos
        </div>
        <div class="alert alert-danger" ng-if="status=='incomplete'">
            Ingrese datos validos
        </div>
        <form name="loginForm" ng-submit="login(loginForm.$valid)" class="col-lg-12">
            <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                <label for="email">Correo Electrónico*</label>
                <input type="email" name="email" class="form-control" ng-model="user.email">
                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="alert alert-danger help-block">Ingrese un correo valido</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                <label for="password">Contraseña*</label>
                <input type="password" name="password" ng-model="user.password" class="form-control" required>
                <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="alert alert-danger help-block">Contraseña es requerida</p>
            </div>
            <input type="submit" name="Entrar" class="btn btn-success" />
        </form>
    </div>

</div>